@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}
@font-face {
  font-family: "Alte";
  font-style: normal;
  src: url("../public/fonts/AlteHaasGroteskBold.ttf");
}
@layer base {
  html {
    @apply w-screen h-screen bg-gray-800 text-gray-100 font-alte;
  }
  h1 {
    @apply text-[20px] md:text-[30px];
  }
  input {
    @apply bg-transparent bg-opacity-30 text-gray-100 px-2
    border-black border-l-2 border-t-2 border-b-2
    focus:border-none focus:placeholder:text-opacity-50
  }
  section {
    @apply relative flex flex-col items-center md:p-16 lg:p-16
  }
}

@layer components {
  .page {
    @apply w-screen h-fit md:px-20 px-6 md:py-20 py-20 flex flex-col gap-4 justify-center
  }
  .home {
    @apply w-screen h-screen items-center 
    md:px-20 px-6 md:py-20 py-20
    flex flex-col z-10
    justify-center;
  }
  .spacer {
    @apply aspect-[960/300] w-full bg-no-repeat bg-center bg-cover;
  }

  .card {
    @apply flex flex-col gap-4 p-6 
    shadow-lg rounded-lg 
    bg-gradient-to-br from-gray-800 to-gray-900
    border-green-300 border-4 relative 
  }
  .card::before,
  .card::after {
    @apply absolute inset-0 border-inherit z-[-1];
    content: "";
    background: conic-gradient(
      from var(--gradient-angle),
      #2dd4bf,
      #4ade80,
      #34d399,
      #4ade80,
      #2dd4bf);
    animation: rotation 20s linear infinite;
  }
  .card::after {
    @apply blur-lg
  }

  #text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 40%;
  }
  .line {
    @apply flex justify-between;
  }
  .fancy {
    @apply z-20 hover:z-30;
  }
  .letter {
    @apply inline-block;
  }
  .fancy:hover > .letter:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
  }
  .fancy:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
  }
  .fancy:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
  }
  .fancy:hover > .letter:nth-child(4) {
    transform: translate(0%, -20%) rotate(-8deg);
  }
  .fancy:hover > .letter:nth-child(5) {
    transform: translate(0%, 20%) rotate(3deg);
  }
  .fancy:hover > .letter:nth-child(6) {
    transform: translate(0%, -40%) rotate(-3deg);
  }
  .fancy:hover > .letter:nth-child(7) {
    transform: translate(0%, 40%) rotate(-5deg);
  }
  .fancy:hover > .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
  }
  .fancy:hover > .letter:nth-child(9) {
    transform: translate(-80%, 60%) rotate(8deg)
  }
  .fancy:hover > .letter:nth-child(10) {
    transform: translate(-80%, 60%) rotate(8deg);
  }
  .fancy:hover > .letter:nth-child(11) {
    transform: translate(-40%, 20%) rotate(4deg);
  }
  .fancy:hover > .letter:nth-child(12) {
    transform: translate(-10%, 60%) rotate(-6deg);
  }
  .fancy:hover > .letter:nth-child(13) {
    transform: translate(0%, -20%) rotate(-8deg);
  }
  .fancy:hover > .letter:nth-child(14) {
    transform: translate(0%, 20%) rotate(3deg);
  }
  .fancy > .letter {
    display: inline-block;
    transition: transform 600ms ease;
  }
  .fancy:hover > .letter {
    transition-duration: 800ms;
  }
}